# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

mkt_cst_analysis = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

mkt_cst_analysis["Customer Lifetime Value"] = mkt_cst_analysis["Customer Lifetime Value"].round(1)
mkt_cst_analysis["Total Claim Amount"] = mkt_cst_analysis["Total Claim Amount"].round(1)
mean_income = mkt_cst_analysis["Income"].mean()
mkt_cst_analysis["Income"] = mkt_cst_analysis["Income"].replace(0, mean_income)
mkt_cst_analysis["Income"] = mkt_cst_analysis["Income"].round(1)
mkt_cst_analysis = mkt_cst_analysis.drop_duplicates()
mkt_cst_analysis = mkt_cst_analysis.dropna()
mkt_cst_analysis = mkt_cst_analysis.reset_index(drop = True)
mkt_cst_analysis = mkt_cst_analysis.drop("Unnamed: 0", axis = 1)

mkt_cst_analysis

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,LZ68649,Washington,14947.9,No,Basic,Bachelor,2/10/11,Employed,M,22139.0,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.0,SUV,Medsize,A
1,XL78013,Oregon,22332.4,Yes,Extended,College,1/11/11,Employed,M,49078.0,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.0,Four-Door Car,Medsize,A
2,HG93801,Arizona,5154.8,No,Extended,High School or Below,1/2/11,Employed,M,82730.0,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.5,SUV,Large,A
3,KR82385,California,5454.6,No,Basic,Master,1/26/11,Employed,M,66334.0,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.2,Two-Door Car,Medsize,A
4,FH51383,California,5326.7,No,Basic,High School or Below,2/7/11,Employed,F,76717.0,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.5,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538,PP30874,California,3579.0,No,Extended,High School or Below,1/24/11,Employed,F,28304.0,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.2,Four-Door Car,Medsize,A
4539,SU71163,Arizona,2771.7,No,Basic,College,1/7/11,Employed,M,59855.0,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.2,Two-Door Car,Medsize,A
4540,QI63521,Nevada,19228.5,No,Basic,High School or Below,2/24/11,Unemployed,M,37536.3,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.6,Luxury SUV,Medsize,A
4541,KX53892,Oregon,5259.4,No,Basic,College,1/6/11,Employed,F,61146.0,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.0,Four-Door Car,Medsize,A
4542,WA60547,California,11972.0,No,Premium,College,2/13/11,Employed,F,64195.0,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.3,SUV,Medsize,A

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
total_claim_vs_positive_response = mkt_cst_analysis
total_claim_vs_positive_response = total_claim_vs_positive_response[total_claim_vs_positive_response["Total Claim Amount"] > 1000]
total_claim_vs_positive_response = total_claim_vs_positive_response[total_claim_vs_positive_response["Response"] == "Yes"]

total_claim_vs_positive_response

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
103,YJ16163,Oregon,11009.1,Yes,Premium,Bachelor,1/24/11,Employed,F,51643.0,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.4,Luxury Car,Medsize,A
167,GW43195,Oregon,25807.1,Yes,Extended,College,2/13/11,Employed,F,71210.0,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.2,Luxury Car,Small,A
171,IP94270,Arizona,13736.1,Yes,Premium,Master,2/13/11,Disabled,F,16181.0,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.3,SUV,Medsize,A
231,FJ28407,California,5619.7,Yes,Premium,High School or Below,1/26/11,Unemployed,M,37536.3,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.0,SUV,Medsize,A
616,TU53781,Oregon,8427.2,Yes,Extended,Bachelor,2/10/11,Employed,F,46503.0,...,1.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.0,Luxury SUV,Medsize,A
717,QO62792,Oregon,7840.2,Yes,Extended,College,1/14/11,Employed,M,58414.0,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.0,Luxury SUV,Small,A
805,TA66375,Oregon,11009.1,Yes,Premium,Bachelor,1/24/11,Employed,F,51643.0,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.4,Luxury Car,Medsize,A
850,JC11405,Oregon,10964.0,Yes,Premium,High School or Below,2/8/11,Employed,M,55687.0,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.8,Luxury SUV,Medsize,A
1130,FH77504,California,11009.1,Yes,Premium,Bachelor,1/24/11,Employed,F,51643.0,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.4,Luxury Car,Medsize,A
1613,KC26486,Arizona,8427.2,Yes,Extended,Bachelor,2/10/11,Employed,F,46503.0,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.0,Luxury SUV,Medsize,A
1840,WP58340,Arizona,10964.0,Yes,Premium,High School or Below,2/8/11,Employed,M,55687.0,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,1324.8,Luxury SUV,Medsize,A
1861,LT72149,Nevada,5619.7,Yes,Premium,High School or Below,1/26/11,Unemployed,M,37536.3,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,1027.0,SUV,Medsize,A
1876,TC99043,California,13736.1,Yes,Premium,Master,2/13/11,Disabled,F,16181.0,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.3,SUV,Medsize,A
2052,GP83239,California,7840.2,Yes,Extended,College,1/14/11,Employed,M,58414.0,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.0,Luxury SUV,Small,A
2184,UT48216,Nevada,7840.2,Yes,Extended,College,1/14/11,Employed,M,58414.0,...,2.0,1,Personal Auto,Personal L1,Offer2,Agent,1008.0,Luxury SUV,Small,A
2242,TQ84956,California,10964.0,Yes,Premium,High School or Below,2/8/11,Employed,M,55687.0,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.8,Luxury SUV,Medsize,A
2411,TY31217,Washington,11009.1,Yes,Premium,Bachelor,1/24/11,Employed,F,51643.0,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.4,Luxury Car,Medsize,A
2947,PN98247,California,7840.2,Yes,Extended,College,1/14/11,Employed,M,58414.0,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.0,Luxury SUV,Small,A
3425,MJ51323,Oregon,8427.2,Yes,Extended,Bachelor,2/10/11,Employed,F,46503.0,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.0,Luxury SUV,Medsize,A
3436,AJ89108,California,11009.1,Yes,Premium,Bachelor,1/24/11,Employed,F,51643.0,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.4,Luxury Car,Medsize,A
3488,DT77901,Oregon,10179.7,Yes,Premium,Bachelor,1/5/11,Retired,F,14290.0,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.8,Luxury SUV,Medsize,A
3566,YU86361,Washington,19161.0,Yes,Extended,Master,2/20/11,Employed,F,22705.0,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.7,Luxury SUV,Medsize,A
3635,XT93203,California,10964.0,Yes,Premium,High School or Below,2/8/11,Employed,M,55687.0,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.8,Luxury SUV,Medsize,A
3955,IV54766,Oregon,19161.0,Yes,Extended,Master,2/20/11,Employed,F,22705.0,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.7,Luxury SUV,Medsize,A
3985,GD55093,California,19161.0,Yes,Extended,Master,2/20/11,Employed,F,22705.0,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.7,Luxury SUV,Medsize,A
4164,YP53257,Oregon,10179.7,Yes,Premium,Bachelor,1/5/11,Retired,F,14290.0,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.8,Luxury SUV,Medsize,A
4459,CK39096,Oregon,5619.7,Yes,Premium,High School or Below,1/26/11,Unemployed,M,37536.3,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.0,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [3]:
columns2 = ["Gender", "Policy", "Total Claim Amount", "Response"]
claim_policy_gender_resp_yes = mkt_cst_analysis[columns2]
claim_policy_gender_resp_yes = claim_policy_gender_resp_yes[claim_policy_gender_resp_yes["Response"] == "Yes"]
claim_policy_gender_resp_yes = claim_policy_gender_resp_yes.sort_values(by = "Policy")
claim_policy_gender_resp_yes = claim_policy_gender_resp_yes.reset_index(drop = True)

claim_policy_gender_resp_yes

    Gender        Policy  Total Claim Amount Response
0        M  Corporate L1               207.8      Yes
1        F  Corporate L1               489.6      Yes
2        M  Corporate L1                67.5      Yes
3        F  Corporate L1               256.4      Yes
4        F  Corporate L1               542.4      Yes
..     ...           ...                 ...      ...
636      M    Special L3               321.6      Yes
637      M    Special L3               604.8      Yes
638      M    Special L3                86.5      Yes
639      F    Special L3               420.0      Yes
640      M    Special L3               207.8      Yes

[641 rows x 4 columns]

In [4]:
claim_policy_gender_resp_yes = claim_policy_gender_resp_yes.groupby(['Gender', 'Policy'])['Total Claim Amount'].mean().round(1).reset_index()
claim_policy_gender_resp_yes = claim_policy_gender_resp_yes.sort_values(by = "Policy")

claim_policy_gender_resp_yes

   Gender        Policy  Total Claim Amount
0       F  Corporate L1               412.3
9       M  Corporate L1               335.0
1       F  Corporate L2               408.2
10      M  Corporate L2               354.1
2       F  Corporate L3               399.9
11      M  Corporate L3               423.4
3       F   Personal L1               469.4
12      M   Personal L1               476.6
4       F   Personal L2               452.0
13      M   Personal L2               457.5
5       F   Personal L3               454.8
14      M   Personal L3               481.7
6       F    Special L1               477.6
15      M    Special L1               338.8
7       F    Special L2               411.5
16      M    Special L2               185.4
8       F    Special L3               549.1
17      M    Special L3               402.1

'''
- on all personal policies and corporate L3, women have a smaller average claim amount than men
- the most diverging average claim amount result between genders in for the "Special L2" policy - 120% higher for women.
'''

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [10]:
bystate_higher_five = mkt_cst_analysis.groupby("State")["Customer"].count().reset_index()
bystate_higher_five_final = bystate_higher_five[bystate_higher_five["Customer"] > 500]

bystate_higher_five_final

        State  Customer
0     Arizona       868
1  California      1552
3      Oregon      1281

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [11]:
max_min_median = mkt_cst_analysis.groupby(["Education", "Gender"])['Customer Lifetime Value'].agg(['max', 'min', 'median']).reset_index()
max_min_median.columns = ["Education", "Gender", "Max CLV", "Min CLV", "Median CLV"]

max_min_median

              Education Gender  Max CLV  Min CLV  Median CLV
0              Bachelor      F  58753.9   1904.0     5752.50
1              Bachelor      M  67907.3   2030.8     5797.40
2               College      F  61850.2   2004.4     5642.55
3               College      M  44795.5   1918.1     6005.80
4                Doctor      F  44856.1   2395.6     5789.90
5                Doctor      M  32677.3   2267.6     5844.00
6  High School or Below      F  55277.4   2150.2     5978.75
7  High School or Below      M  83325.4   2132.8     6081.50
8                Master      F  51016.1   2417.8     5714.20
9                Master      M  50568.3   2357.5     5512.30

In [ ]:
''''
- males with the 2 lowest educational values tend to have a big CLV
'''

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [6]:
# your code goes here